<main>
  <h1>CSS Testing</h1>
  <h2>Made by Ewan Rakotoanosy</h2>
  <h3>Website on which I publish small pages and effect in CSS</h3>
  <div class="list-container">
    <div class="card">
      <h2>Test 1</h2>
    </div>
    <div class="card">
      <h2>Test 2</h2>
    </div>
    <div class="card">
      <h2>Test 3</h2>
    </div>
    <div class="card">
      <h2>Test 4</h2>
    </div>
    <div class="card">
      <h2>Test 5</h2>
    </div>
    <div class="card">
      <h2>Test 6</h2>
    </div>
  </div>
</main>
