
.list-container{
  display: inline-grid;
  grid-template-columns: 25em 25em 25em 25em;
  margin-top: 2em;
}

.card{
  margin: 1em 1em 1em 1em;
  border: 1px solid var(--color-border);
  border-radius: 1em;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 25em;
  min-height: 15em;
}
